body,html{
    width:100%;
    height: 100%;
    /* background:rgb(0,0,0,0.1); */
}
#worp{
    width: 980px;
    margin: 0 auto;
    /* background:pink; */
    height: auto;
}
.worp-con{
    width: 980px;
    height: auto;
}
#header{
    padding: 15px 0 0 0;
    border-bottom: 1px solid #7A7F89;
    background: url(../images/logo_02.png) no-repeat 70px center;
    margin-bottom: 20px;
}
#header h2{
    color: #333333;
    font-size: 14px;
    text-align: right;
    height: 20px;
    margin-bottom: 10px;
}
#header h2 span{
    float: right;
    color: red;   
}
#header h2 span:nth-child(1){
    margin-left: 40px;
    color: #333;
}
#header h2 span:nth-child(3){
    margin: 0 20px;
    color: #333;
}
#nav{
    height: 28px;
    width: 540px;
    margin-bottom: 20px;
}
#nav h3{
    background: url(../images/newProm.gif) no-repeat 0 -28px;
    line-height: 24px;

}
#nav span{
    font-size: 14px;
    color: #333333;
    display: inline-block;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    width: 170px;
}
#address{
    width: 980px;
    border: 1px solid #333333;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px;
}
#address .p1{
    padding-top: 10px;
    margin-bottom: 20px;
}
.p2{
    margin-bottom: 20px;
}
.p2 input{
    width: 300px;
    height: 25px;
}
.p3{
    margin-bottom: 20px;
}
.p3 select{
    width: 120px;
    height: 22px;
}
.p4,.p5,.p6{
    margin-bottom: 20px;
}
.p4 input,.p5 input{
    width: 300px;
    height: 25px;
}
.commit{
    width: 980px;
    border: 1px solid #333333;
    padding: 20px;
}
.commit h2{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
}
.commit .p1{
    margin-bottom: 20px;
}
.commit .p1 span{
    display: inline-block;
    margin-right: 50px;
    color: #696767;
    font-size: 14px;
}
.commit .p1 span:nth-child(1),.commit .p1 span:nth-child(2){
    padding-right: 300px;
}
.commit .but{
    width: 150px;
    height: 40px;
    background: rgb(112, 1, 1);
    cursor: pointer;
    margin-left: 800px;
    color: white;
    font-size: 18px;
    outline: none;
    border: none;
}